services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: exclusive_app
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
      - ./docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    depends_on:
      - db

  web:
    image: nginx:stable-alpine
    container_name: exclusive_web
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: exclusive_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: exclusive_db
      MYSQL_USER: exclusive_user
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: rootsecret
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2
    container_name: exclusive_pma
    restart: unless-stopped
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootsecret
    ports:
      - "8080:80"
    depends_on:
      - db

volumes:
  db_data:
